<html>
 <head>
	<title>The Quran in flask</title>

 </head>

<body>

	<h1>The Quran in Flask</h1>

<p> 
Welcome! The Quran in flask intends to provide a tutorial on steps to towards bring the Quranic text through Flask mico framemwork.

There are two landing pages:
<ul>
<li> view a particular verse through the link "/chapter no/verse no"
<li> view an entire sura by entering the link "/chapter no"
</ul>

</p>

<p> The project is located in the following github repository. Please fork and use the increamental releases to follow the steps towards a full functioning app <br>

<a href="https://github.com/abdulbaqi/quranf">https://github.com/abdulbaqi/quranf</a>

enjoy!

</p>
</body>
